html,
body {
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: calc(100vw * 1.77);
}

.backImg {
    position: absolute;
    width: 100%;
    -webkit-touch-callout: none;
    touch-action:none;
}


.draggable {
    position: absolute;
    cursor: move;
    -webkit-touch-callout: none;
    touch-action:none;
}

.dropzone {
    z-index: 1;
}


/*フィールド情報（公開）*/
/*バトル場(P1)*/
.battle {
    position: absolute;
    width: 15%;
    height: 11.5%;
    top: 43%;
    left: 37.5%;
    border: 1px solid;
}


.battle > .b_pke{
    position: absolute;
    width: 100%;
    height: 100%;

}
.battle > .b_too{
    position: absolute;
    width: 100%;
    height: 100%;
    top:-25%;
}
.battle > .b_ene{
    position: absolute;
    width: 100%;
    height: 100%;
    left:15%;

}

/*バトル場(P2)*/
.p2_battle {
    position: absolute;
    width: 15%;
    height: 11.5%;
    top: 20.8%;
    left: 37.5%;
    border: 1px solid;
}


.p2_battle > .p2_b_pke{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:5;
}
.p2_battle > .p2_b_too{
    position: absolute;
    width: 100%;
    height: 100%;
    top:25%;
    z-index:4;
}
.p2_battle > .p2_b_ene{
    position: absolute;
    width: 100%;
    height: 100%;
    left:-15%;
    z-index:3;
}

.benchbox {
    position: absolute;
    width: 83%;
    height: 23%;
    top: 56%;
    left: 4%;
    display: flex;
    overflow-x: scroll; 
}

.bench {
    position: absolute;
    width: 18%;
    height: 47%;
    top:26%;
    border: 1px solid;
    margin-right: 2%;
}

.bench > .b_pke{
    position: absolute;
    width: 100%;
    height: 100%;
}
.bench > .b_too{
    position: absolute;
    width: 100%;
    height: 100%;
    top:-25%;
}
.bench > .b_ene{
    position: absolute;
    width: 100%;
    height: 100%;
    left:15%;
}

.p2_benchbox {
    position: absolute;
    width: 83%;
    height: 17%;
    top: 2.8%;
    left: 4%;
    display: flex;
    overflow-x: scroll; 
}

.p2_bench {
    position: absolute;
    width: 18%;
    height: 59%;
    border: 1px solid;
    margin-right: 2%;
}

.p2_bench > .p2_b_pke{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 15%;
}
.p2_bench > .p2_b_too{
    position: absolute;
    width: 100%;
    height: 100%;
    top:25%;
    left: 15%;

}
.p2_bench > .p2_b_ene{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 7%;
}

.p2_menu{
  position: absolute;
  width: 8%;
  height: 9%;
  top: 12%;
  left: 91%;
  border: 1px solid red;
  background :white;
  writing-mode: vertical-lr;
}

.hand {
    position: absolute;
    width: 85%;
    height: 13%;
    top: 79%;
    left: 2%;
    border: 1px solid;
    overflow: auto; 
}


.free {
    position: absolute;
    width: 26%;
    height: 15%;
    top: 40%;
    left: 1%;
    border: 1px solid;
}

.stadium {
    position: absolute;
    width: 15%;
    height: 11%;
    top: 37%;
    left: 70%;
    border: 1px solid;
}

.coin {
    position: absolute;
    width: 14%;
    height: 8%;
    top: 33.5%;
    left: 54.5%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.btnChangePl{
    position: absolute;
    width: 11%;
    height: 6%;
    top: 80%;
    left: 88%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.btnImg{
  position: absolute;
  width: 100%;
  pointer-events: none;
}

/*フィールド情報（非公開）*/
.deck {
    position: absolute;
    width: 8%;
    height: 9%;
    top: 47%;
    left: 91%;
    border: 1px solid red;
    background :white;
    writing-mode: vertical-lr;
}

.trash {
    position: absolute;
    width: 8%;
    height: 9%;
    top: 57%;
    left: 91%;
    border: 1px solid red;
    background :white;
    writing-mode: vertical-lr;
}

.side {
    position: absolute;
    width: 8%;
    height: 9%;
    top: 67%;
    left: 91%;
    border: 1px solid red;
    background :white;
    writing-mode: vertical-lr;
}


/*カード情報（p1）*/
.card {
    pointer-events: auto;
}

/*バトル場のカード（p1）*/
.battle .card{
  width:87%;
}
.battle .card.pke{
  z-index:15;
}
.battle .card.too{
  z-index:14;
}
.battle .card.ene{
  z-index:13;
  transform: rotate(90deg);
}

/*ベンチのカード（p1）*/
.bench .card{
  width:80%;
}
.bench .card.pke{
  z-index:15;
}
.bench .card.too{
  z-index:14;
}
.bench .card.ene{
  z-index:13;
  transform: rotate(90deg);
}

/*公開するカード（p1）*/
.container > .card{
  width:13%;
}
.modal .card{
  width:15%;
}
.hand > .card{
  width:13%;
}
.free > .card{
  width:42%;
}
.stadium > .card{
  width:89%;
}

/*非公開のカード（p1）*/
.deck > .card {
    display: none;
}
.trash > .card {
    display: none;
}
.side > .card {
    display: none;
}



/*カード情報（p2）*/
.p2_card {
  transform: rotate(180deg);
  position: absolute;
}

.p2_cardBox > .p2_card{
  display:none;
}

/*バトル場のカード（p2）*/
.p2_battle .p2_card{
  width:87%;
}
.p2_battle .p2_card.pke{
  z-index:15;
}
.p2_battle .p2_card.too{
  z-index:14;
}
.p2_battle .p2_card.ene{
  z-index:13;
  transform: rotate(-90deg);
}



/*ベンチのカード（p2）*/
.p2_bench .p2_card{
  width:80%;
}
.p2_bench .p2_card.pke{
  z-index:15;
}
.p2_bench .p2_card.too{
  z-index:14;
}
.p2_bench .p2_card.ene{
  z-index:13;
  transform: rotate(-90deg);
}


/*公開するカード（p2）*/
.modal .p2_card{
  transform: rotate(0deg);
  width:15%;
}
.free > .p2_card{
  width:42%;
}
.stadium > .p2_card{
  width:89%;
}

/*メニューボタン*/
.menu {
    display:none;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menuBtn{
    -webkit-touch-callout: none;
    touch-action:none;
}

.menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.menu ul li {
    padding: 8px 12px;
    white-space:nowrap;
}

/*メニューボタン枠*/
.benchInfo{
    position: absolute;
    width: 17.5%;
    height: 10%;
    top : 77%;
    border: 1px solid red;
    background :white;
    margin-right: 2%;
}
.handInfo{
    position: absolute;
    width: 14.5%;
    height: 2%;
    left :2%;
    top : 93%;
    border: 1px solid red;
    background :white;
    margin-right: 2%;
}
.freeInfo{
    position: absolute;
    width: 10%;
    height: 2%;
    left :2%;
    top : 37%;
    border: 1px solid red;
    background :white;
    margin-right: 2%;
}
.battleInfo{
    position: absolute;
    width: 10%;
    height: 2%;
    left :55%;
    top : 52%;
    border: 1px solid red;
    background :white;
    margin-right: 2%;
}

/*ダメカン情報*/
/*自分のダメカン*/
.damageSel{
  position: absolute;
  width: 14%;
  top:2%;
  border: 1px solid red;
  overflow: hidden;
}
/*相手のダメカン*/
.p2_damageSel{
  position: absolute;
  width: 14%;
  height: 11%;
  top:77%;
  background:white;
  border: 1px solid red;
  font-size:  2.8vw;
  display:flex;
  align-items:center;
  justify-content:center;
}


/*モーダル*/
.modal {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content img {
    position: static;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.selectable {
    border: 2px solid transparent;
    cursor: pointer;
}

.selected {
    border: 2px solid blue;
}


/*ロード時画面*/
#loading {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    display: none;
    font-weight: bold;
    z-index: 1000;
    color: red;
    background-color: rgba(0, 0, 0, 0.5);
}

/*プレイヤー情報（文字）*/
.playerinfo{
  position: absolute;
  width: 75%;
  height: 10%;
  top:93%;
  font-size:  2.8vw;
  left:20%;
  pointer-events: none;
}

.nonMousePointer{
  pointer-events: none;
}

.result{
    width: 40%;
    font-size:3vw;
    border: 1px solid;
    overflow: auto; 
}

.coinImg{
    position: absolute;
    width: 100%;
    pointer-events: none;
}
@keyframes fadeInOut {
    0%,100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.fade-in-out {
    animation: fadeInOut 0.2s infinite;
    pointer-events: none;
}

.inputText{
  font-size:16px;
    width: 40%;
  transform-origin: 0 0;
}

.submitBtn{
    width: 16.5%;
    border: 1px solid red;
    background :white;
    margin-right: 2%;
    margin-left: 2%;
}
