<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ポケカ</title>
  <link rel="stylesheet" href="style.css" type="text/css">
  <script src="Photon/photon.min.js"></script>
  <script type="module" src="js/arrange.js"></script>
  <script type="module" src="js/photon_src.js"></script>
</head>

<body>
  <div id="loading">処理中...</div>
  <div class="container" id="container">
    <img src="images/back_image.png"
      alt="backImg" class="backImg" />
    
    <!--コイン-->
    <div class="coin" id="coin">
      <img src="images/coin_ura.png"
      alt="裏" class="coinImg" id="coinU" />
          <img src="images/coin_omote.png"
      alt="表" class="coinImg" id="coinO" />
    </div>
    
    <!--バトル場(P1)-->
    <div class="battle nonMousePointer cardBox" id="battle">
      <div class="dropzone b_ene" id="b_ene0"></div>
      <div class="dropzone b_too" id="b_too0"></div>
      <div class="dropzone b_pke" id="b_pke0"></div>
    </div>
    
    <!--バトル場(P2)-->
    <div class="p2_battle nonMousePointer" id="p2_battle">
        <div class="p2_b_ene" id="p2_b_ene0"></div>
        <div class="p2_b_too" id="p2_b_too0"></div>
        <div class="p2_b_pke" id="p2_b_pke0"></div>
    </div>
    
    <!--ベンチ(P1)-->
    <template id="bench">
      <div class="bench nonMousePointer cardBox">
        <div class="dropzone b_ene"></div>
        <div class="dropzone b_too"></div>
        <div class="dropzone b_pke"></div>
      </div>
    </template>
    <div class="benchbox" id="benchbox"></div>
    
    <!--ベンチ(P2)-->
    <template id="p2_bench">
      <div class="p2_bench nonMousePointer">
        <div class="p2_b_ene"></div>
        <div class="p2_b_too"></div>
        <div class="p2_b_pke"></div>
      </div>
    </template>
    <div class="p2_benchbox" id="p2_benchbox"></div>
    
    <!--手札-->
    <div class="dropzone hand cardBox" id="hand"></div>
    
    <!--フリー(P1)-->
    <div class="dropzone free nonMousePointer cardBox" id="free"></div>
    
    <!--フリー(P2)-->
    <div class="free" style="top:20%" id="p2_free"></div>
    
    <!--sスタジアム(P1)-->
    <div class="dropzone stadium nonMousePointer cardBox" id="stadium"></div>
    
    <!--スタジアム(P2)-->
    <div class="stadium" style="top:26%" id="p2_stadium"></div>
    
    <!--カード（P1テンプレート）-->
    <template id="card">
      <img alt="card" class="draggable card selectable" />
    </template>
    
    <!--カード（P2テンプレート）-->
    <template id="p2_card">
      <img alt="card" class="draggable p2_card selectable" />
    </template>
    
    <!--ベンチメニュー-->
    <template id="benchInfo">
      <div class="benchInfo menuBtn" data-menu="bench_menu">
      </div>
    </template>
    <div class="menu" id="bench_menu" data-pr="benchbox" data-lf="l" data-top="t" data-lfmg="0.2" data-topmg="1">
      <ul>
        <li class="menu-item" data-action="irekae">バトル場と入れ替える</li>
        <li class="menu-item" data-action="bench_trash">トラッシュ送る</li>
        <li class="menu-item" data-action="bench_deck">デッキに戻す(+シャッフル)</li>
      </ul>
    </div>
    
    <!--ハンドメニュー-->
    <div class="handInfo menuBtn" data-menu="hand_menu" id="handInfo">
    </div>
    <div class="menu" id="hand_menu" data-pr="handInfo" data-lf="l" data-top="b" data-lfmg="1" data-topmg="1">
      <ul>
        <li class="menu-item" data-action="hand_trash">全てトラッシュに送る</li>
        <li class="menu-item" data-action="hand_deck_under">全て山札の下へ送る</li>
        <li class="menu-item" data-action="hand_deck">デッキに戻す(+シャッフル)</li>
        <li class="menu-item" data-action="hand_show">一覧表示</li>
        <li class="menu-item menuBtnMenu" data-menu="handXmenu" data-action="hand_Xshow">サポート</li>
        <li class="menu-item" data-action="hand_p2show">相手に手札を見せる</li>
      </ul>
    </div>
    <div class="menu submenu" id="handXmenu"  data-pr="handInfo" data-lf="l" data-top="b" data-lfmg="3.2" data-topmg="1">
      <ul>
        <li class="menu-item submenu-item" data-action="ri-rie">リーリエの決心</li>
        <li class="menu-item submenu-item" data-action="jaji-man">ジャッジマン</li>
      </ul>
    </div>
    
    <!--フリーメニュー-->
    <div class="freeInfo menuBtn" data-menu="free_menu" id="freeInfo">
    </div>
    <div class="menu" id="free_menu" data-pr="freeInfo" data-lf="l" data-top="t" data-lfmg="1" data-topmg="1">
      <ul>
        <li class="menu-item" data-action="free_trash">全てトラッシュに送る</li>
      </ul>
    </div>
    
    <!--バトル場メニュー-->
    <div class="battleInfo menuBtn" data-menu="battle_menu" id="battleInfo">
    </div>
    <div class="menu" id="battle_menu" data-pr="battleInfo" data-lf="r" data-top="t" data-lfmg="1" data-topmg="1">
      <ul>
        <li class="menu-item" data-action="battle_trash">トラッシュに送る</li>
        <li class="menu-item" data-action="battle_deck">デッキに戻す(+シャッフル)</li>
      </ul>
    </div>
    
    <!--プレイヤー情報-->
      <div class="playerinfo" id="p1Info"></div>
      <div class="playerinfo" id="p2Info" style="top:0%;"></div>

    <!--ダメカン-->
    <template id="damageSel">
      <select class="damageSel">
      </select>
    </template>
    <template id="p2_damageSel">
      <div class="p2_damageSel">0</div>
    </template>
    <div class="p2_damageSel" style="left:39%;top:34%;width:12%;height:2%" id="p2_damageSel_battle">0</div>
    
    <!--デッキ + デッキメニュー-->
    <div class="dropzone deck menuBtn cardBox" data-menu="deck_menu" id="deck">Deck</div>
    <div class="menu" id="deck_menu"  data-pr="deck" data-lf="r" data-top="t" data-lfmg="1" data-topmg="1">
      <ul>
        <li class="menu-item" data-action="draw">1枚引く</li>
        <li class="menu-item menuBtnMenu" data-menu="deckXmenu" data-action="deck_Xshow">上からN枚見る</li>
        <li class="menu-item" data-action="deck_shufl">シャッフルする</li>
        <li class="menu-item" data-action="deck_show">中身を見る</li>
        <li class="menu-item" data-action="reset">初期配置にする</li>
      </ul>
    </div>
    <div class="menu submenu" id="deckXmenu"  data-pr="deck" data-lf="r" data-top="t" data-lfmg="3.2" data-topmg="1">
      <ul>
        <li class="menu-item submenu-item" data-action="Xnum" data-xnum="1">1枚</li>
        <li class="menu-item submenu-item" data-action="Xnum" data-xnum="2">2枚</li>
        <li class="menu-item submenu-item" data-action="Xnum" data-xnum="3">3枚</li>
        <li class="menu-item submenu-item" data-action="Xnum" data-xnum="4">4枚</li>
        <li class="menu-item submenu-item" data-action="Xnum" data-xnum="5">5枚</li>
        <li class="menu-item submenu-item" data-action="Xnum" data-xnum="6">6枚</li>
        <li class="menu-item submenu-item" data-action="Xnum" data-xnum="7">7枚</li>
      </ul>
    </div>

    
    <!--トラッシュ + トラッシュメニュー-->
    <div class="dropzone trash menuBtn cardBox" data-menu="trash_menu" id="trash">Trash</div>
    <div class="menu" id="trash_menu"  data-pr="trash" data-lf="r" data-top="t" data-lfmg="1" data-topmg="1">
      <ul>
        <li class="menu-item" data-action="trash_show">中身を見る</li>
      </ul>
    </div>
    
    <!--サイド + サイドメニュー-->
    <div class="dropzone side menuBtn cardBox" data-menu="side_menu" id="side">Side</div>
    <div class="menu" id="side_menu"  data-pr="side" data-lf="r" data-top="t" data-lfmg="1" data-topmg="1">
      <ul>
        <li class="menu-item" data-action="side_draw1">1枚引く</li>
        <li class="menu-item" data-action="side_draw2">2枚引く</li>
        <li class="menu-item" data-action="side_draw3">3枚引く</li>
        <li class="menu-item" data-action="side_show">中身を見る</li>
        <li class="menu-item" data-action="side_torikae">とりかえチケット</li>
      </ul>
    </div>
    
    <!--p2 + p2メニュー-->
    <div class="p2_menu menuBtn" data-menu="p2_menu" id="p2menu">P2Menu</div>
    <div class="menu" id="p2_menu"  data-pr="p2menu" data-lf="r" data-top="t" data-lfmg="1" data-topmg="1">
      <ul>
        <li class="menu-item" data-action="p2_trashShow">トラッシュの中身を見る</li>
      </ul>
    </div>

      <!--下部デッキコード入力欄+ボタン-->
    <div style="display:flex;position:relative;top:97%;">
      <!--ボタンとテキスト-->
      <input class="inputText" type="text" id="urlInput" name="url" placeholder="デッキコードを入力" value="RSySM2-nwxITY-yyyyyU" onClick="this.select()">
      <div class="submitBtn menuBtn" id="inputBtn" data-menu="input_menu" ></div>
      <!--ログ-->
      <div class="result" id="result"></div>
      <template id="inputXmenu_temp">
        <li class="menu-item submenu-item room" data-action="XroomJoin" data-xnum="1">1</li>
      </template>
    </div>
    <div class="menu" id="input_menu"  data-pr="inputBtn" data-lf="l" data-top="b" data-lfmg="1" data-topmg="1">
      <ul>
        <li class="menu-item" data-action="deckLoad">デッキ読込み</li>
        <li class="menu-item menuBtnMenu" data-menu="inputXmenu" data-action="roomJoin">ルームに参加</li>
        <li class="menu-item" data-action="p2Change">2人回し</li>
      </ul>
    </div>
    <div class="menu submenu" id="inputXmenu"  data-pr="inputBtn" data-lf="r" data-top="b" data-lfmg="1" data-topmg="1">
      <ul id="inputXmenu_ul">
        <li class="menu-item submenu-item" data-action="roomReconect">サーバ接続</li>
        <li class="menu-item submenu-item" data-action="roomCreate">部屋を立てる</li>
      </ul>
    </div>
    
    <!--プレイヤー交代ボタン-->
    <div class="btnChangePl" id="btnChangePl" style="visibility:hidden">
      <img src="https://cdn.glitch.global/2e2a8bc3-103f-4a29-a6b5-c688c783156d/yajirushi08_cycle.png?v=1735552730304"
      alt="ボタンイメージ" class="btnImg" id="btnChangeImg" />
    </div>
    
  </div>
  
  <!--ここからプレイマット範囲外-->
      
  <!--P2カード置き場-->
  <div class="p2_cardBox" id="p2_deck"></div>
  <div class="p2_cardBox" id="p2_trash"></div>
  <div class="p2_cardBox" id="p2_side"></div>
  <div class="p2_cardBox" id="p2_hand"></div>

  <!-- モーダル -->
  <div id="modal" class="modal" data-src="">
    <div class="modal-content">
      <span class="close" data-modal="modal">×</span>
      <button class="move" data-target="hand">手札</button>
      <button class="move" data-target="trash">トラッシュ</button>
      <button class="move" data-target="deck">山札(下)</button>
      <button class="move" data-target="free">フリー</button>
      <button class="ajast">整列表示</button>
      <div class="image-container">
      </div>
    </div>
  </div>
  
  <script type="module" src="js/index.js"></script>
</body>

</html>
